/***********/
/* General */
/***********/
@font-face { 
    font-family: "OpenSans"; 
    src: url(media/fonts/OpenSans-Regular.ttf); 
    font-style: normal;
    font-weight: bold;
}

html, body{
    font-family: "Montserrat" !important;
    color: #000000 !important;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

::selection {
    background-color: #e6fade;
}

a{
    text-decoration: none !important;
}

button{
    color: #000000;
    background-color: transparent;
    border: none;
}
button:focus {
    outline: 0 !important;
}

.textoResaltado{
    color: #77d14a;
    font-weight: 900;
}

.textoNegrita{
    font-weight: bold;
}

.tamGrande{
    width: 40em;
    border-radius: .3em;
}

.tamMediana{
    width: 30em;
    border-radius: .3em;
}

.tamSmall{
    width: 10em;
    border-radius: .3em;
}

.rowOscuro{
    color: black;
    padding-left: 4%;
    padding-right: 4%;
	padding-bottom: 4%;
    z-index: 1;
}

@media screen and (max-width:1000px){
.rowOscuro{
    padding-left: 0;
    padding-right: 0;
}
}

.rowSubtitle{
    color: black;
    padding-left: 4%;
    padding-right: 4%;
	padding-bottom: 1%;
    z-index: 1;
}

.ocultar{
    opacity: 0;
    transition: .4s;
}

.textoGrande{
    font-size: 35px;
    text-align: justify;
}

@media screen and (max-width:792px){
.textoGrande{
    font-size: 30px;
    text-align: justify;
}
}

.textoMediano{
    font-size: 20px;
    text-align: justify;
}

.tag{
    font-size: 0.75em;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    background-color: darkgrey;
    border-radius: .3em;
    height: 1.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    margin-bottom: 0.5em;
    
    /*text-shadow: 5px 1px 10px #808080, 0px 5px 10px #999999, -5px 1px 10px #828282;*/
}
/* Tag colors */
.blue{
    background-color: #0376f7;
    /*text-shadow: 5px 1px 10px #0354f7, 0px 5px 10px #0376f7, -5px 1px 10px #197882;*/
}

.lightBlue{
    background-color: #5ac3da;
    /*text-shadow: 5px 1px 10px #00a3c6, 0px 5px 10px #5ac3da, -5px 1px 10px #197882;*/
}

.green{
    background-color: #4ed55f;
    /*text-shadow: 5px 1px 10px #77d14a, 0px 5px 10px #77d14a, -5px 1px 10px #197882;*/
}

.violet{
    background-color: #5752d0;
    /*text-shadow: 5px 1px 10px #5d00b8, 0px 5px 10px #5f35b8, -5px 1px 10px #197882;*/
}

.pink{
    background-color: #f92d52;
    /*text-shadow: 5px 1px 10px #5752d0, 0px 5px 10px #f92d52, -5px 1px 10px #f92d9c;*/
}

.red{
    background-color: #f93b2f;
    /*text-shadow: 5px 1px 10px #5752d0, 0px 5px 10px #f93b2f, -5px 1px 10px #d55803;*/
}

.orange{
    background-color: #f99205;
    /*text-shadow: 5px 1px 10px #fc7103, 0px 5px 10px #f99205, -5px 1px 10px #fc2803;*/
}

.yellow{
    background-color: #fcc803;
    /*text-shadow: 5px 1px 10px #fc7103, 0px 5px 10px #fcc803, -5px 1px 10px #cfcf02;*/
}

.footer{
    background-color: #f5faf3;
    color: #41596b;
}

.footerContenedor{
    width: 100%;
    margin-top: 15px;
}

.footer a{
    color: #41596b;
}
.footer a:hover{
    color: #77d14a;
}

.firstElement{
    padding-top: 130px;
}

.firstElementColored{
    padding-top: 130px;
    
        /*background: linear-gradient(180deg, rgba(255,255,255,.0), rgba(255,255,255,1) 98.0%),linear-gradient(210deg, rgb(119 209 74 / 70%), rgba(255,255,255,0.0) 90.00%),linear-gradient(90deg, rgb(76 103 202 / 83%), rgba(255,255,255,0.0) 90.00%);*/
}


.myButton{
    color: black;
    font-size: 30px;
    transition: 0.3s;
}

.myButton::after{
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 22px;
    text-align: center;
    content: url(media/images/arrow_down.svg);
    transition: 0.3s;
}

.myButton:hover{
    color: #77d14a;
    transition: 0.3s;
}
.myButton:hover::after{
    padding-top: 5px;
    transition: 0.3s;
}

.contenedorVideoYT{
    position: relative;
    padding-bottom: 60.25%; /* aspect ratio video*/
    height: 0;
}
.videoYT{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.lineaSeparadora{
    background: grey;
    width: 100%;
    height: 1px;
}

.show-on-scroll {
  opacity: 0;
  transition: transform 0.3s, opacity .5s .5s ease-out, box-shadow 0.3s;
}

.is-show {
  opacity: 1;
}


.bloque{
    display: flex;
    flex-flow: column;
    height: 100%;
}

.subbloque{
    flex: 0 1 auto;
}

.subbloqueFill{
    flex: 1 1 auto;
}

.iconMedium{
    transition: 0.3s;
    height: 30px;
}

/********************/
/* Mis contenedores */
/********************/

/* Contenedor1 - Usado en proyectos */
.contenedor1{
    display: flex;
    position: relative;
    flex-direction: row;
    background-color: #ffffff;
    /*padding: 1em;*/
    overflow: hidden;
    border-radius: .3em;
    margin-top: 1.5em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    border-top: .2em solid;
    border-color: #77d14a;
    box-shadow: 0 0 5px #bbbbbb;
    min-height: 350px;
    text-align: center;
}

.contenedor1:hover{
    transform: translate(0px, -0.3em);
    box-shadow: 0 0 15px #bbbbbb;
}

@media screen and (max-width:1000px){
.contenedor1{
    flex-direction: column;
}
}

.contenedor1Above{
    z-index: 1;
    opacity: 0; 
    position: relative;
    width: 100%;
    padding: 1em;
    color: black;
    transition: 0.3s;
}

@media screen and (max-width:500px){
.contenedor1Above{
    height: 100px;
}
}

.contenedor1Above h2{
    font-size: 25px;
    color: #77d14a;
}

.contenedor1Above p{
    text-align: justify;
    color: black;
    font-size: 20px;
}

.contenedor1:hover .contenedor1Above{
    opacity: 1; 
    transition: 0.3s;
}

@media screen and (max-width:500px){
.contenedor1:hover .contenedor1Above{
    opacity: 0; 
    transition: 0.3s;
}
}

.contenedor1Under{ 
    z-index: 0;
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}

.contenedor1Under img{ 
    float:left;
    width:100%;
    height:100%;
    object-fit:cover;
    /*
    min-width: 100%;
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;*/
}

.contenedor1:hover .contenedor1Under img{ 
    opacity: 0.1;
    transition: 0.3s;
}

@media screen and (max-width:500px){
.contenedor1:hover .contenedor1Under img{ 
    opacity: 1;
    transition: 0.3s;
}
}

.centroContenedor1{
    position: absolute;
    top: 0;
    padding: 1em;
    width: 100%;
    height: 100%;
    text-shadow: 0px 0px 8px #000000;
    transition: 0.3s;
}

.centroContenedor1 h2{
    font-size: 25px;
    color: white;
}

.contenedor1:hover .centroContenedor1{
    opacity: 0;
    transition: 0.3s;
}

@media screen and (max-width:500px){
.contenedor1:hover .centroContenedor1{
    opacity: 1;
    transition: 0.3s;
}
}

.contenedor1UnderBottom{
    position: absolute;
    bottom: 10px;
    width: 100%;
}

/** Contenedor2 - Usado en "Sobre mi" **/
.contenedor2{
    width: 100%;
    overflow: hidden;
    border-radius: .3em;
    box-shadow: 0 0 5px #bbbbbb;
}

.contenedor2 .titulo{
    color: white;
    background-color: rgba(119, 209, 74, 1);
}

/** Contenedor4 - Usado en "Sobre mi" **/
.contenedor4{
    width: 100%;
    overflow: hidden;
    border-radius: .3em;
    /*box-shadow: 0 0 5px #bbbbbb;*/
}

.contenedor4 .titulo{
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    /*background-color: rgba(119, 209, 74, 1);*/
}

.contenedor4 .subtitulo{
    color: black;
    font-weight: bold;
    font-size: 1.1em;
    /*background-color: rgba(119, 209, 74, 1);*/
}

.contenedor4 .secundario{
    color: dimgrey;
}


/* Contenedor 3 - Usado en proyectos */

.contenedor3{
    background-color: #ffffff;
    
    /*padding: 1em;*/
    overflow: hidden;
    border-radius: .3em;
    margin-top: 1.5em;
    margin-right: 0.5em !important;
    margin-left: 0.5em !important;
    border-top: .2em solid;
    border-color: #77d14a;
    box-shadow: 0 0 2px #bbbbbb;
   /* max-height: 150px; */
    /*background-image: linear-gradient(to left top, #77d14a7d 0%, #00e7bd47 20%, #65efff36 35%, #cff2ff38 50%, #ffffff 60%);*/
    background-blend-mode:multiply;
    transition: 0.3s !important;
}

.contenedor3:hover{
    transform: translate(0px, -0.3em);
    box-shadow: 0 0 15px #bbbbbb;
    
    background-image: linear-gradient(#ffffff, #ffffff);
    background-blend-mode:multiply;
    transition: 0.3s !important;
}

.contenedor3Img{
    height: 160px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-left: 0px !important;
    padding-right: 0px !important;
    background-color: #000000;
}

.contenedor3Img::after{
    display: block;
    content: "";
    background-image: linear-gradient(270deg,rgba(0,0,0,.25),transparent 75%);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    opacity: 1;
    transition: 0.3s;
}

.contenedor3:hover .contenedor3Img::after{
    opacity: 0;
}

.contenedor3:hover .contenedor3Img{
    opacity: 1.0;
}

.contenedor3Img img{
    float:left;
    width:100%;
    height:100%;
    object-fit:cover;
    /*max-height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;*/
}

.contenedor3Img video{
    float:left;
    width:100%;
    height:100%;
    object-fit:cover;
    /*max-height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;*/
}

@media screen and (max-width:575px){

    .contenedor3Img{
        height: 100px;
    }
}

.contenedor3Info{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.contenedor3InfoTop{
    flex-grow: 2;
}

.contenedor3InfoTop h2{
    font-size: 20px;
    color: black;
}

.contenedor3InfoTop p{
    font-size: 16px;
    margin-bottom: 0px;
    color: black;
}

.contenedor3InfoBottom{
    bottom: 10px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

/********************/
/* Barra navegación */
/********************/
.barraNavegacion{
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.95) 100%);
    z-index: 2;
    position: fixed;
    width: 100%;
}
.barraNavegacion button{
    color: #000000;
}
.barraNavegacion .paginas a{
    font-size: 1.3em;
    text-decoration: none;
    position: relative;
    color: #000000;
    font-weight: 500;
}
@media screen and (min-width:690px){

.barraNavegacion .paginas a::after{
    color: #77d14a;
    border-top: .1em solid;
    border-radius: 1em;
    content: "";
    position: absolute;
        bottom: 0.3em;
        left: 0em;
    width: 100%;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;

}

.barraNavegacion .paginas a:hover::after{
    border-top: .1em solid;
    border-radius: 1em;
    position: absolute;
        bottom: 0.3em;
        left: 0em;
    transform: scaleX(0.9);
}
}

.barraNavegacion .paginas a:hover{
    text-decoration: none;
    color: black;
    transition: .3s;
}

.contenedorLogoAnimation{
    position: relative;
    width: 200px;
}
@media screen and (max-width:768px){
.contenedorLogoAnimation{
    width: 150px;
}
}

.logoG{
    position: absolute;
    z-index: 1;
    opacity: 1;
    transition: .4s;
}
.logoG img{
    width: 1.1em;
}

.logoD{
    position: absolute;
    padding-left: 250px;
    z-index: 1;
    opacity: 1;
    transition: .4s;
}
.logoD img{
    width: 1.1em;
}
.logo_expand{
    opacity: 0;
    transition: .4s;
}
.logoText{
     color: #77d14a !important;
    font-size: 1.6em;
    font-weight: 700 !important;
    text-align: center !important;
    width: 100% !important;
    transition: .2s !important;
}
@media screen and (max-width:692px){
.logo_expand{
    transition: 0s;
}
}
/********************/
/* Página de Inicio */
/********************/

.contenedorTituloIndex{
    position: relative;
}

.tituloIndex{
    z-index: 1;
    opacity: 1;
    transition: .4s;
    padding-left: 10% !important;
    padding-right: 10% !important;
}

.tituloIndex h1{
    font-size: 80px;
    font-weight: 900;
}
.tituloIndex p{
    text-align: justify;
    font-size: 20px;
}

.indexImg{
    width: 20em;
    border-radius: 50%;
    box-shadow: 0 0 5px #bbbbbb;
    transition: .3s;
}
.indexImg:hover{
    box-shadow: 0 0 10px #bbbbbb;
    transition: .3s;
}


@media screen and (max-width:1000px){
    
.tituloIndex h1{
 
    font-size: 55px;
}
.tituloIndex p{
    font-size: 18px;
}
}
/*****************/
/* Página neutra */
/*****************/
.tituloPagina{
    margin-bottom: 70px;
}

.tituloPagina h1{
    text-align: center;
    font-size: 50px;
}

.subTitulo{
    font-size: 30px;
    text-align: center;
    color: #25274d;
    margin-bottom: 50px;
}

/***************************************/
/* Lista de proyectos (proyectos.html) */
/***************************************/


/***********************/
/* Player vídeo propio */
/***********************/

.contenedorVideo{
    text-align: center;
    position:relative;
}

.videoProyecto{
    width: 100%;
}

/*
video{
    border: 2px solid #efefef;
}
*/
.parrafo1{
    margin: 1em;
}

.bloqueProgreso{
    width: 100%;
    height: 5px !important;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.barraProgreso{
    background-color: #7c82ff !important;
}

.control i{
    color: #7c82ff;
    font-size: 1.5em;
    transition: 0.2s;
}

.control i:hover{
    text-shadow: 0 0 10px #7c82ff;
    color: white;
    transition: 0.1s;
}

.bloqueVolumen{
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.bloqueVolumen button i{
    font-size: 1em;
}
.bloqueVolumen button i:hover{
    color: #7c82ff;
}

.bloqueVolumen input{
    margin-top: 0.9em;
}

.volumen {
    -webkit-appearance: none;
    width: 70%;
    height: 2px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.volumen::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background: #7c82ff;
  cursor: pointer;
    border: none;
}

.volumen::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #7c82ff;
  cursor: pointer;
    border: none;
}

.textControl{
    color: #7c82ff;
    font-weight: bold;
}

.contenedorAudio {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 2em;
    width: 100%;
}
.contenedorAudio audio{
    width: 80%;
}

.infoAudio {
    font-weight: bold;
    color: #7c82ff;
}

/******************/
/* Sobre mí */
/******************/

.sobreMi{
    width: 20em;
    border-radius: .3em;
}

.sobreMiTop img{
    padding-top: 5%;
    padding-bottom: 5%;
    width: 90%;
    border-radius: 50% !important;
}

.tituloSobreMi{
    color: #77d14a;
    font-size: 1.5em;
}

.fas {
    color: #77d14a;
}

.fab {
    transition: 0.2s;
    font-size: 150%;
    padding: 0.2em;
}


/************/
/* Contacto */
/************/

#map{
    box-shadow: 0 0 5px #bbbbbb;
    height: 30em; 
    width: 90%;
}

.form-control:focus{
    border-color: #1f8884  !important;  
    box-shadow: 0 0 5px #1f8884  !important; 
} 

.custom-select:focus{
    border-color: #1f8884  !important;  
    box-shadow: 0 0 5px #1f8884  !important; 
} 

.btnEnviar {
    color: #fff !important;
    background-color: #1f8884!important;
    border-color: #1f8884 !important;
}
.btnEnviar:hover {
    color: #16615e !important;
    background-color: white !important;
    border-color: #1f8884 !important;
    box-shadow: 0 0 5px #1f8884;
}
/*************************/
/*      FIN DEL CSS      */
/*************************/
